.sign {
	.auth__form {
		padding-top: 70px;

		& :nth-child(2) > input {
			margin-bottom: 8px;
		}

		& :nth-child(6) > input {
			margin-bottom: 29px;
		}
	}
	.auth__label-text {
		margin-bottom: 18px;
	}

	.auth__input {
		height: 30px;
		margin-bottom: 16px;
	}
}
